/ {
    key_physical_attrs: key_physical_attrs {
        //compatible = "zmk,physical-layout-key";
        #key-cells = <7>;
    };
    foostan_dolphin_8col_layout: foostan_dolphin_8col_layout {
        compatible = "zmk,physical-layout";
        display-name = "Dolphin 8-Column";
        keys //                     w   h    x    y       rot    rx    ry
            = <&key_physical_attrs 125 100    0   25       0     0     0> //EQUAL RC(0,0)
            , <&key_physical_attrs 100 100  125   25       0     0     0> //1 RC(0.1)
            , <&key_physical_attrs 100 100  225    0       0     0     0> //2 RC(0,2)
            , <&key_physical_attrs 100 100  325    0       0     0     0> //3 RC(0,3)
            , <&key_physical_attrs 100 100  425    0       0     0     0> //4 RC(0,4)
            , <&key_physical_attrs 100 100  525    0       0     0     0> //5 RC(0,5)
            , <&key_physical_attrs 100 100 1175    0       0     0     0> //6 RC(0,10)
            , <&key_physical_attrs 100 100 1275    0       0     0     0> //7 RC(0,11)
            , <&key_physical_attrs 100 100 1375    0       0     0     0> //8 RC(0,12)
            , <&key_physical_attrs 100 100 1475    0       0     0     0> //9 RC(0,13)
            , <&key_physical_attrs 100 100 1575   25       0     0     0> //0 RC(0,14)
            , <&key_physical_attrs 125 100 1675   25       0     0     0> //MINUS RC(0,15)
            , <&key_physical_attrs 125 100    0  125       0     0     0> //TAB RC(1,0)
            , <&key_physical_attrs 100 100  125  125       0     0     0> //Q RC(1,1)
            , <&key_physical_attrs 100 100  225  100       0     0     0> //W RC(1,2)
            , <&key_physical_attrs 100 100  325  100       0     0     0> //E RC(1,3)
            , <&key_physical_attrs 100 100  425  100       0     0     0> //R RC(1,4)
            , <&key_physical_attrs 100 100  525  100       0     0     0> //T RC(1,5)
            , <&key_physical_attrs 100 100 1175  100       0     0     0> //Y RC(1,10)
            , <&key_physical_attrs 100 100 1275  100       0     0     0> //U RC(1,11)
            , <&key_physical_attrs 100 100 1375  100       0     0     0> //I RC(1,12)
            , <&key_physical_attrs 100 100 1475  100       0     0     0> //O RC(1,13)
            , <&key_physical_attrs 100 100 1575  125       0     0     0> //P RC(1,14)
            , <&key_physical_attrs 125 100 1675  125       0     0     0> //BLSH RC(1,15)
            , <&key_physical_attrs 125 100    0  225       0     0     0> //CAP RC(2,0)
            , <&key_physical_attrs 100 100  125  225       0     0     0> //A RC(2,1)
            , <&key_physical_attrs 100 100  225  200       0     0     0> //S RC(2,2)
            , <&key_physical_attrs 100 100  325  200       0     0     0> //D RC(2,3)
            , <&key_physical_attrs 100 100  425  200       0     0     0> //F RC(2,4)
            , <&key_physical_attrs 100 100  525  200       0     0     0> //G RC(2,5)
            , <&key_physical_attrs 100 100  675  400    1500   525   400> //LGUI RC(2,6)
            , <&key_physical_attrs 100 100  775  400    1500   525   400> //ESC RC(2,7)
            , <&key_physical_attrs 100 100  925  400 (-1500)  1275   400> //RCTRL RC(2,8)
            , <&key_physical_attrs 100 100 1025  400 (-1500)  1275   400> //RALT RC(2,9)
            , <&key_physical_attrs 100 100 1175  200       0     0     0> //H RC(2,10)
            , <&key_physical_attrs 100 100 1275  200       0     0     0> //J RC(2,11)
            , <&key_physical_attrs 100 100 1375  200       0     0     0> //K RC(2,12)
            , <&key_physical_attrs 100 100 1475  200       0     0     0> //L RC(2,13)
            , <&key_physical_attrs 100 100 1575  225       0     0     0> //SEMI RC(2,14)
            , <&key_physical_attrs 125 100 1675  225       0     0     0> //SQT RC(2,15)
            , <&key_physical_attrs 125 100    0  325       0     0     0> //LSHFT RC(3,0)
            , <&key_physical_attrs 100 100  125  325       0     0     0> //Z RC(3,1)
            , <&key_physical_attrs 100 100  225  300       0     0     0> //X RC(3,2)
            , <&key_physical_attrs 100 100  325  300       0     0     0> //C RC(3,3)
            , <&key_physical_attrs 100 100  425  300       0     0     0> //V RC(3,4)
            , <&key_physical_attrs 100 100  525  300       0     0     0> //B RC(3,5)
            , <&key_physical_attrs 100 100  775  500    1500   525   400> //HOME RC(3,7)
            , <&key_physical_attrs 100 100  925  500 (-1500)  1275   400> //PG_UP RC(3,8)
            , <&key_physical_attrs 100 100 1175  300       0     0     0> //N RC(3,10)
            , <&key_physical_attrs 100 100 1275  300       0     0     0> //M RC(3,11)
            , <&key_physical_attrs 100 100 1375  300       0     0     0> //COMMA RC(3,12)
            , <&key_physical_attrs 100 100 1475  300       0     0     0> //DOT RC(3,13)
            , <&key_physical_attrs 100 100 1575  325       0     0     0> //FLSH RC(3,14)
            , <&key_physical_attrs 125 100 1675  325       0     0     0> //RSHFT RC(3,15)
            , <&key_physical_attrs 100 100  125  425       0     0     0> //GRAVE RC(4,1)
            , <&key_physical_attrs 100 100  225  400       0     0     0> //mo1 RC(4,2)
            , <&key_physical_attrs 100 100  325  400       0     0     0> //LEFT RC(4,3)
            , <&key_physical_attrs 100 100  425  400       0     0     0> //RIGHT RC(4,4)
            , <&key_physical_attrs 100 200  575  500    1500   525   400> //BSPC RC(4,5)
            , <&key_physical_attrs 100 200  675  500    1500   525   400> //DEL RC(4,6)
            , <&key_physical_attrs 100 100  775  600    1500   525   400> //END RC(4,7)
            , <&key_physical_attrs 100 100  925  600 (-1500)  1275   400> //PG_DN RC(4,8)
            , <&key_physical_attrs 100 200 1025  500 (-1500)  1275   400> //ENTER RC(4,9)
            , <&key_physical_attrs 100 200 1125  500 (-1500)  1275   400> //SPACE RC(4,10)
            , <&key_physical_attrs 100 100 1275  400       0     0     0> //UP RC(4,11)
            , <&key_physical_attrs 100 100 1375  400       0     0     0> //DOWN RC(4,12)
            , <&key_physical_attrs 100 100 1475  400       0     0     0> //LBKT RC(4,13)
            , <&key_physical_attrs 100 100 1575  425       0     0     0> //RBKT RC(4,14)
            ;
    };
};
